In [1]:
from sklearn.model_selection import StratifiedKFold, train_test_split
import pandas as pd

In [2]:
df = pd.read_excel("Realized Schedule 20210101-20220208.xlsx", engine='openpyxl')

In [26]:
for feature in ["Airline", "Destination", "AircraftType", "FlightType", "Sector"]:
    df[feature] = df[feature].astype(str).astype('category')

df['Minute'] = df['ScheduleTime'].dt.minute
df['Hour'] = df['ScheduleTime'].dt.hour
df['Day'] = df['ScheduleTime'].dt.day
df['Week'] = df['ScheduleTime'].dt.isocalendar().week.astype(int)
df['Month'] = df['ScheduleTime'].dt.month

In [32]:
df.head()

,ScheduleTime,Airline,FlightNumber,Destination,AircraftType,FlightType,Sector,SeatCapacity,LoadFactor,Minute,Hour,Day,Week,Month
0,2021-01-01 06:35:00,IA,874,DEN,73W,J,US,142,0.408451,35,6,1,53,1
1,2021-01-01 10:35:00,JZ,818,YHM,AT7,J,CA,74,0.189189,35,10,1,53,1
2,2021-01-01 12:05:00,IA,876,DEN,73W,J,US,142,0.570423,5,12,1,53,1
3,2021-01-01 13:20:00,CN,514,EST,AT7,J,US,72,0.333333,20,13,1,53,1
4,2021-01-01 14:20:00,LJ,3140,DEN,32A,J,US,186,0.204301,20,14,1,53,1

In [8]:
X_train, X_test, y_train, y_test = train_test_split()